.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
  margin-bottom: 1.0em;
}

.about__role {
  margin-top: 1.9em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.about__cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(2, start) infinite;
  color: inherit;
}

@keyframes blink {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
